.clusters-container {
  .empty-state .svg-content {
    @include gl-pb-0;

    img {
      width: 100px;
    }
  }

  .agents-empty-state {
    .text-content {
      @include gl-max-w-full;
      @include media-breakpoint-up(lg) {
        max-width: 70%;
      }
    }

    .gl-alert-actions {
      @include gl-mt-0;
      @include gl-flex-wrap;
    }
  }
}
